<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>8426630765-oa6iqf7kcjo54pgj8p3adajfl3poimdq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.8426630765-oa6iqf7kcjo54pgj8p3adajfl3poimdq</string>
	<key>API_KEY</key>
	<string>AIzaSyBa0qJTFy59-otJf3WHiKaPqt-fWq3sDN8</string>
	<key>GCM_SENDER_ID</key>
	<string>8426630765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jess.PVCovidTrace</string>
	<key>PROJECT_ID</key>
	<string>pvcovidtrace-1ccec</string>
	<key>STORAGE_BUCKET</key>
	<string>pvcovidtrace-1ccec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:8426630765:ios:3fee0d4992734508495964</string>
</dict>
</plist>